* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: "Poppins", sans-serif;
  position: relative;
  /* background: linear-gradient(45deg, #468daf,  #AC25AF); */
  /* background-color: #0b072a; */
  background-size: cover;
  background-repeat: no-repeat;
  --bg-clr: #f1f1f1
}


/*? overlay element styling */
.overlay.open{
  display: block;
}
.overlay {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  inset: 0;
  background-color: #2ca5eb29;
  z-index: 101;
  backdrop-filter: blur(5px);
  /* cursor: pointer; */
}


/*? instruction element styling  */
.notification-container {
  /* display: none; */
  position: fixed;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #3a383a9b;
  
  box-shadow: 1px 1px 5px #008026, inset 0 0 10px 3px #6795f8;
  background-color: #fff;
  border-radius: 5px;
  z-index: 105;
  overflow-x: hidden;
  max-width: max-content;
  transition: top 1s ease-in-out;
}

.notification-container .notification-content {
  position: relative;
  padding: 0.5rem 3.5rem 0.5rem 1rem;
  width: max-content;
  max-width: 700px;
} 
.notification-content  p.notification { 
  font-size: 1.2rem;
  font-weight: 500;
  color: #0c0654;
}
.notification-content .notification-close-btn {
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: 600;
  color: #936565;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 1px 5px 0;
  border: 1px solid #936565;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px #800080, inset 0 0 15px 2px lightcyan;
}
.notification-content .notification-close-btn:hover {
  transform: scale(0.95);
}
.notification-container.open {
  display: block;
  top: 7rem;
  animation: notification-anime 28s ease-in-out forwards;

}


@keyframes notification-anime {
  0% {
    width: 0%;
  }
  10%, 35% {
    top: 7rem;
    width: 100%;
  }
  45% {
    display: none;
    top: 7rem;
    width: 0%;
  }
  55%, 100% {
    display: none;
    top: 90%;
    width: 0%;
  }
  65%, 90% {
    display: block;
    top: 90%;
    width: 100%;
  }
}


/*? homepage styling */
.homepage.inactive {
  display: none;
}
.homepage {
  display: block;
  margin: 0 auto;
  padding: 0 2rem 3rem;
  height: 100dvh;
  max-width: 1324px;
  font-weight: 600;
  --header-bg-clr: lightseagreen;
  --sub-menu1-bg-clr: #3fd3d3;
  --sub-menu2-bg-clr: #c0fffa;
  --hover-bg-clr: #c0fffa;
  --hover-bg2-clr: #575757;
}

.homepage header {
  background-color: var(--header-bg-clr);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  position: fixed;
  inset: 0 0 auto 0;
  margin: auto;
  height: 4.5rem;
  width: 100%;
  max-width: 1324px;
  z-index: 100;
}

.homepage header .humberger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  row-gap: 8px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 1rem;
  height: 4.5rem;
  width: 5rem;
  background-color: #f0f;
  border-bottom-left-radius: 100%;
  cursor: pointer;
  /* margin-left: 80%; */
  /* transform: translateX(-100%); */
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.homepage header .humberger-menu.close {
  background-color: inherit;
}

.homepage header .humberger-menu span {
  display: inline-block;
  width: 2.25rem;
  height: 3px;
  border-radius: 4px;
  /* margin-right: 2px; */
  background-color: #fff;
}

.homepage header .humberger-menu span:first-child {
  width: 2rem;
}
.homepage header .humberger-menu span:nth-child(2) {
  width: 1.5rem;
}


.homepage header ul {
  list-style: none;
}

.homepage header .menu-bar li .right-arrow-icon {
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  left: 0;
  width: 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -5%;
  transform: rotate(-90deg);
  transition: transform 0.35s ease-in-out;
}

.homepage header .menu-bar {
  display: flex;
}

.homepage header .menu-bar li {
  position: relative;
}
.homepage header .menu-bar li a {
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}


.homepage header .menu-bar li  ul {
  display: none;
  position: absolute;
  width: max-content;
  min-width: 10rem;
  font-size: 1rem;
  background-color: var(--header-bg-clr);
}

.homepage header .menu-bar > li ul li:hover > span.right-arrow-icon {
  transform: rotate(0deg);
}

.homepage header .menu-bar li ul li a {
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  /* position: relative; */
}

.homepage header .menu-bar > li > ul {
  padding: 1rem 0 0;
  top: 100%;
  right: 0%;
}

.homepage header .menu-bar li:hover > ul {
  display: block;
}

.homepage header .menu-bar li .sub-menu1 li ul {
  top: 10%;
  right: 100.5%;
}

.menu-bar li:hover {
  background-color: var(--hover-bg-clr);
}

.homepage header .menu-bar a {
  text-decoration: none;
  color: inherit;
  display: block;
  /* background-color: lightcoral; */
}

.homepage header .menu-bar a:hover,
.homepage header .menu-bar a:focus {
  background-color: var(--hover-bg-clr);
}

/* homepage main content */
.homepage .heading {
  width: max-content;
  margin: 1rem auto;
  padding: 1rem 2rem;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px purple, inset 0 0 25px 5px lightseagreen;
}


/* homepage flipcard */
.flipcard {
  margin: 2rem auto;
  width: 300px;
  height: 450px;
  border-radius: 1rem;
  border: 2px solid lightgray;
  position: relative;
  transition: transform 1s;
  cursor: pointer;
  transform-style: preserve-3d;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.flipcard::after,
.flipcard::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: conic-gradient(from var(--angle), transparent 50%,  blue);
  /* background-image: conic-gradient(from var(--angle), transparent 50%,  blue, red, blue); */
  /* background-image: conic-gradient( #ff4545, #00ff99, #006aff,#ff0095, #ff4545); */
  border-radius: 1rem;
  z-index: -1;
  padding: 2px;
  /* animation: spin-border 3s linear infinite; */
}
.flipcard::before {
  filter: blur(0.5rem);
  opacity: 0.8;
}

@keyframes spin-border {
  to{
    /* filter: hue-rotate(360deg); */
    --angle : 360deg
    /* transform: translate(-50%, -50%) rotate(360deg); */
  }
}

.flipcard .front,
.flipcard .back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  backface-visibility: hidden;
  border-radius: 1rem;
  overflow: hidden;
}

.flipcard .front {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flipcard .front h2 {
  box-shadow: inset 0 0 15px 5px rgb(17, 151, 200), 0 0 5px 1px yellowgreen;
}

.flipcard p {
  text-align: justify;
  padding: 1rem;
}

.flipcard h2 {
  font-size: 1.2rem;
  width: max-content;
  background-color: rgba(255, 160, 122, 0.322);
  box-shadow: 0 0 30px rgba(245, 121, 121, 0.642);
  text-align: center;
  border-radius: 5px;
  margin: 2rem auto;
  padding: 5px;
}

.flipcard .back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.flipcard .back {
  transform: rotateY(180deg);
}

.flipcard.flip {
  transform: perspective(500px) rotateY(180deg);
}


/* homepage corousel */
.homepage .slider {
  display: flex;
  /* gap: 4rem; */
  width: 80%;
  /* scroll-behavior: smooth; */
  /* scrollbar-width: 2px; */
  /* scroll-snap-type: none; */
  /* overflow-x: auto; */
  overflow: hidden;
  margin: 2rem auto;
  background-color: #008026;
  border: 5px solid #cc2478;
  /* position: relative; */
  height: 10rem;
  /* padding: 2rem; */
}
.homepage .slider .slide {
  /* position: absolute; */
  height: 10rem;
  width: 100%;
  flex-shrink: 0;
  /* margin: 2px 1rem; */
  background-color: #fdfdfd;
  line-height:10rem;
  text-align: center;
  /* animation: sliding 36s infinite ease-out; */
  /* animation: sliding 12s infinite steps(1); */
  transition: transform 1s;
}

@keyframes sliding {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(-200%);
  }
  60% {
    transform: translateX(-300%);
  }
  80% {
    transform: translateX(-400%);
  }
  /* 100% {
    transform: translateX(-500%);
  } */
}


/*? Media Queries */
@media screen and (max-width:1024px) {
  .homepage header {
    font-size: 1rem;
  }
}


@media screen and (max-width:768px) {
 .homepage header nav.nav-box {
    background-color: #20b2ab67;
    /* background-color: #b757cf; */
    min-height: 0;
    height: 0%;
    width: 250px;
    position: absolute;
    right: 0;
    top: 4.5rem;
    overflow-y: hidden;
    transition: height 0.7s ease-in-out, min-height 0.7s ease-in-out;
  }

 .homepage header nav.nav-box.open {
    /* padding: 5px 0; */
    min-height: 100dvh;
    height: 100%;
    overflow: unset;
    /* overflow-x: auto; */
 }

 .homepage header ul.menu-bar {
    flex-direction: column;
    /* background-color: #20b2ab67; */
    background-color: #bdcf57;
    /* z-index: -1; */
  }

 .homepage header ul.menu-bar > li a {
    padding: 1rem;
 }
 
 .homepage header .menu-bar > li > ul {
    padding: 1rem 0 0;
    top: 0;
    right: 100%;
  }

}


@media screen and (max-width:500px) {
  .homepage header {
    height: 3.5rem;
    padding: 0.5rem 1.25rem;
  }

 .homepage header nav.nav-box {
    width: 200px;
 }
}