* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body {
  /* width: 100dvw; */
  /* height: 400dvh; */
  /* overflow-x: hidden; */
  /* background-color: #F6F4F0; */
  /* background-color: #1a1a1a; */
  color: #000;
  font-family: "Poppins", sans-serif;
  position: relative;
}


/*? overlay element styling */
.overlay.open{
  display: block;
}
.overlay {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  inset: 0;
  background-color: #2ca5eb29;
  z-index: 100;
  backdrop-filter: blur(5px);
  /* cursor: pointer; */
}


/*? instruction element styling  */
.notification-container {
  /* display: none; */
  position: fixed;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #3a383a9b;
  
  box-shadow: 1px 1px 5px #008026, inset 0 0 10px 3px #6795f8;
  background-color: #fff;
  border-radius: 5px;
  z-index: 105;
  overflow-x: hidden;
  max-width: max-content;
  transition: top 1s ease-in-out;
}

.notification-container .notification-content {
  position: relative;
  padding: 0.5rem 3.5rem 0.5rem 1rem;
  width: max-content;
  max-width: 700px;
} 
.notification-content  p.notification { 
  font-size: 1.2rem;
  font-weight: 500;
  color: #0c0654;
}
.notification-content .notification-close-btn {
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: 600;
  color: #936565;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 1px 5px 0;
  border: 1px solid #936565;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px #800080, inset 0 0 15px 2px lightcyan;
}
.notification-content .notification-close-btn:hover {
  transform: scale(0.95);
}
.notification-container.open {
  display: block;
  top: 5%;
  animation: notification-anime 28s ease-in-out forwards;

}


@keyframes notification-anime {
  0% {
    width: 0%;
  }
  10%, 35% {
    top: 5%;
    width: 100%;
  }
  45% {
    display: none;
    top: 5%;
    width: 0%;
  }
  55%, 100% {
    display: none;
    top: 90%;
    width: 0%;
  }
  65%, 90% {
    display: block;
    top: 90%;
    width: 100%;
  }
}



/*? start-quiz-page styling  */
.start-quiz-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  padding: 2rem;
  font-weight: 600;
}
.start-quiz-page.inactive {
  display: none;
}

.start-quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 6rem;
  background-color: transparent;
  box-shadow: 0 0 20px 10px #699bffd0, inset 0 0 55px 10px #800080;
  padding: 3rem;
  border-radius: 1rem;
}
.start-quiz:hover {
  animation: start-anime 5s infinite ease forwards;
}

.quiz-logo-box {
  max-width: 40rem;
}
.quiz-logo-box img{
  width: 100%;
}
.start-quiz .start-now-btn {
  margin-top: 1rem;
  padding: 1rem 2rem;
  background-color: #35BD3A;
  color: #FFFFFF;
  font-size: 2rem;
  /* font-family: "Poppons", sans-serif; */
  border-radius: 5px;
  box-shadow: 2px 2px 1px 4px #01AB08; 
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.start-quiz span:hover {
  transform: scale(0.97);
}

@keyframes start-anime {
  from{
    filter: hue-rotate(0deg);
  }
  to{
    filter: hue-rotate(360deg);
  }
}


.start-quiz-page .max-score-board {
  display: none;
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  border: 3px solid cornflowerblue;
}
.start-quiz-page .max-score-board.hasMaxScore {
  display: block;
}





/* ? quiz-page Styling  */

.quiz-page {
  /* margin-block: 5rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CCE2C2;
  padding: 2rem 3rem;
  min-height: 100dvh;
  height: auto;
  font-family: "Poppons", sans-serif;
  font-weight: 600;
  /* width: 100dvw; */
}

.quiz-page.inactive {
  display: none;
}

.quiz-page.yellow-zone {
  background-color: #D4D69F8C;
}
.quiz-page.red-zone {
  background-color: #DBADAD;
}


.quiz-page .confirm-finish-popup.closed {
  display: none;
}
.quiz-page .confirm-finish-popup {
  position: fixed;
  inset: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35rem;
  height: 15rem;
  border-radius: 1.75rem;
  background-color: #fff;
  box-shadow: 0 0.25rem 0.25rem #00000065;
  border: 3px solid red;
  z-index: 101;
  animation: poppedup 0.5s ease-in-out;
}

@keyframes poppedup {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.confirm-finish-popup p{
  font-size: 1.2rem;
}

.confirm-finish-popup .buttons  {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}
.confirm-finish-popup .buttons button {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 3rem;
  border-radius: 5px;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.confirm-finish-popup .confirm-finish-btn {
  background-color: #fce8fc;
  color: #e10f0f;
}
.confirm-finish-popup .back-to-quiz-btn {
  border: 1px solid #06a33f;
  transition: background-color 0.2s, color 0.3s;
  color: #06a33f;
  background-color: #ffffff;
}
.confirm-finish-popup .back-to-quiz-btn:hover {
  background-color: #06a33f;
  color: #ffffff;
}
  


.quiz-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  max-width: 1030px;
  width: 100%;
}

.quiz-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}

.quiz-header .logo {
  max-width: 10rem;
  width: 100%;
}

.volume-icons {
  cursor: pointer;
}
.volume-icons img {
  max-width: 2rem;
  width: 100%;
  pointer-events: none;
}

.volume-icons img:hover {
  transform: scale(0.9);
}

.volume-icons  .volume-mute-icon,
.volume-icons.sound-off  .volume-up-icon{
  display: none;
}
.volume-icons  .volume-up-icon,
.volume-icons.sound-off  .volume-mute-icon {
  display: block;
}

.question-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem ;
}
.question-num {
  background-color: #FEC33D;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #000;
  font-size: 1.5rem;
}
.question-time {
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #35BD3A;
  font-size: 1.5rem;
}
.yellow-zone .question-time {
  background-color: #C5B1006E;
}
.red-zone .question-time {
  background-color: #C50C006E;
}

.question {
  background-color: #F5F5F57A;
  width: 100%;
  padding: 2rem 1rem;
  border-radius: 0.75rem;
  font-size: 1.2rem;
}



.options-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
  background-color: #F5F5F57A;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 0 1px #f5f5f5c4;
}

.option-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #D9D9D9;
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
}

.option-box p {
  flex-grow: 1;
  padding-block: 5px;
  pointer-events: none;
}
.option-box .user-chose {
  display: none;
  font-size: 1rem;
  margin-right: 1rem;
  font-weight: 400;
}

.option-box .wrong-icon {
  display: none;
  font-size: 1.5rem;
  line-height: 1.2rem;
  padding-inline: 2px;
  border-radius: 1rem;
  color: #FF7A7A;
  border: 3px solid #FF7A7A;
}
.option-box .correct-icon {
  display: none;
  /* margin-left: 1rem; */
  font-size: 1.2rem;
  line-height: 1.2rem;
  padding-inline: 3px;
  border-radius: 1rem;
  background-color: #35BD3A;
  color: #fff;
  border: 3px solid #35BD3A;
}

.action-btns  {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
.action-btns button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 600;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  /* margin: auto; */
  /* margin: 0 1rem; */
}

.finish-btn {
  cursor: pointer;
  background-color: #fff;
  color: #e10f0f;
}
.finish-btn:hover,
.confirm-finish-btn:hover {
  background-color: #e7e7e7;
  box-shadow: 0 0 5px 1px #e10f0f, inset 0 0 15px 3px #dc7dc7; 
}

.skip-btn {
  cursor: pointer;
  background-color: #fff;
  color: #dd7c0e;
}
.skip-btn:hover{
  background-color: #e7e7e7;
  box-shadow: 0 0 5px 1px #dd7c0e, inset 0 0 15px 3px #dca87d; 
}

.next-btn:disabled,
.skip-btn:disabled,
.finish-btn:disabled{
  color: #b4d2b5;
  background-color: #e0e0e0;
  cursor: not-allowed;
}
.next-btn:disabled:hover,
.skip-btn:disabled:hover,
.finish-btn:disabled:hover {
  background-color: #e0e0e0;
  box-shadow: none; 
}

.next-btn {
  cursor: pointer;
  background-color: #ffffff;
  color: #01AB08;
  }
.next-btn:hover {
  background-color: #e7e7e7;
  box-shadow: 0 0 5px 1px #00801c, inset 0 0 15px 3px #33b83c; 
  /* box-shadow: 0 0 5px 1px #800080, inset 0 0 15px 3px #7dc1dc;  */
}

.next-btn.hidden,
.skip-btn.hidden {
  display: none;
}

.no-selection .correct-icon,
.user-selection .correct-icon,
.user-selection .incorrect .wrong-icon,
.user-selection  .incorrect .user-chose,
.user-selection  .user-selected-option .user-chose {
  display: block;
}

.user-selection .option-box.correct,
.no-selection .option-box.correct {
  border: 3px solid #35BD3A;
}

.user-selection .option-box.incorrect {
  border: 3px solid #FF7A7A;
}




/*? result-page styling */
.result-page.show-result {
  display: flex;
}
.result-page {
  /* margin-block: 5rem; */
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F4F0;
  /* background-color: #3f6fc3; */
  padding: 2rem 3rem;
  min-height: 100dvh;
  font-family: "Poppons", sans-serif;
  font-weight: 600;
  /* width: 100dvw; */
}

.result-header {
  position: relative;
  /* display: flex;
  flex-direction: column;
  align-items: center; */

  /* background-color: #7dc1dc; */
  /* padding: 1rem; */
  margin-bottom: 1rem;
}
.result-header img {
  position: absolute;
  top: -3.2rem;
  left: -13rem;
  max-width: 10rem;
  width: 100%;
}
.result-header span {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  color: #000;
  padding: 0.5rem 6rem;
  border: 2px solid;
  border-radius: 2rem;
}

.result-page .result-bar {
  position: relative;
  max-width: 35rem;
  width: 100%;
  height: 4rem;
  background-color: #ddca5c;
  /* overflow: hidden; */
  margin: 2rem 0 1.5rem;
}

.result-bar span {
  position: absolute;
  font-size: 0.75rem;
  color: #fff;
  width: max-content;
  font-family: monospace;
  padding: 3px 10px;
  border-radius: 3px;
}
.result-bar .correct {
  top: -1.5rem;
  left: 0;
  background-color: #35BD3A;
}
.result-bar .incorrect {
  bottom: -1.5rem;
  background-color: #fb5858;
  left: 78%;
}
.result-bar .unattempted {
  top: -1.5rem;
  right:0;
  background-color: #ddca5c;
  color: #fff;
}

.result-bar .incorrect-bar {
  position: relative;
  background-color: #fb5858;
  height: 100%;
  max-width: 100%;
  width: 90%;
}
.result-page.show-result .result-bar .incorrect-bar {
  animation: progress-anime 2s linear forwards;
}
.result-bar .correct-bar{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #35BD3A;
  height: 100%;
  max-width: 100%;
  width: 70%;
  z-index: 5;
}
.result-page.show-result .result-bar .correct-bar {
  animation: progress-anime 2s linear forwards;
}

@keyframes progress-anime {
  from {
    /* transform: scaleX(0); */
    width: 0%;
  }
  to {
    width: 100%;
    /* transform: scaleX(1); */
  }
}


ul.result-stats::before {
  content: "Result Statistic:";
  position: absolute;
  top: 1rem;
  left: 2.5rem;
  color: #08088f;
  background-color: #92ef64;
  /* box-shadow: 0 0 10px 2px #ff1493, inset 0 0 15px 2px #ee23b0; */
  font-size: 1.1rem;
  padding: 5px 10px;
  border-radius: 5px;
  /* animation: start-anime 3s infinite; */
}
ul.result-stats {
  position: relative;
  list-style: none;
  margin: 2rem 0;
  padding: 3.5rem 4rem 1.5rem;
  max-width: 35rem;
  border: 1px double;
  border-radius: 1rem;
  box-shadow: 0 0 10px 2px #ff1493, inset 0 0 15px 2px #ee23b0;
}
ul.result-stats li {
  padding: 0.25rem 1rem;
  font-size: 1.1rem;
}

.feedback-wrapper {
  margin: 2rem 0;
}
.feedback-wrapper .feedback-message {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  background-color: lightskyblue;
}
.result-page .buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}
.result-page .buttons button{
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 5px;
  /* margin: auto; */
  width: 10rem;
  cursor: pointer;
}
.result-page .retry-btn {
  background-color: goldenrod;
}
.result-page .go-to-home-btn {
  /* background-color: goldenrod; */
  background-color: blueviolet;
  margin-left: 2rem;
}

/* .result-page footer {
  background-color: #14dccfbb;
} */
.result-page footer h3 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #535353;
  margin-bottom: 0.5rem;
}

.result-page footer .social-medias {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2rem;
  font-weight: 500;
  color: #535353;
  margin-bottom: 0.5rem;
}

.social-medias a {
  text-decoration: none;
}
.social-medias img{
  max-width: 1.5rem;
}




/*? Media Queries */
@media screen and (max-width:768px) {
  .start-quiz-page {
    min-height: 40rem;
  }
  .start-quiz .start-now-btn{
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
  }

  .start-quiz-page .max-score-board {
    font-size: 1.5rem;
    border: 2px solid cornflowerblue;
  }
}

@media screen and (max-width:700px) {
  .get-newsletter-popup {
    width: 18rem;
    height: 10.25rem;
    border-radius: 1rem;
  }
}

@media screen and (max-width:500px) {
  .start-quiz-page {
    min-height: 30rem;
  }

  .start-quiz {
    margin: 2rem 0 4rem;
  }
  .start-quiz .start-now-btn{
    padding: 0.5rem;
    font-size: 1rem;
  }

  .start-quiz-page .max-score-board {
    font-size: 1rem;
    border: 1px solid cornflowerblue;
  }
}