
/*? result-page styling */
.result-page.inactive {
  display: none;
}
.result-page {
  --result-page-bg-clr:#F6F4F0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--result-page-bg-clr);
  padding: 2rem 3rem 2rem;
  min-height: 100dvh;
  max-width: 1324px;
  margin: 0 auto;
  font-family: "Poppons", sans-serif;
  font-weight: 600;
  position: relative;
  overflow: hidden;
}

.result-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  row-gap: 0.25rem;
  margin-bottom: 1rem;
}
.result-header img {
  position: absolute;
  top: -0.2rem;
  left: -13rem;
  max-width: 10rem;
  width: 100%;
}
.result-header .subject-result {
  font-size: 1.5rem;
  font-weight: 800;
  padding: 0.5rem 1rem;
  color: transparent;
  background-image: linear-gradient(120deg, #2a19c4, #fd259c, #38b40e);
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
}

.result-header .level-result {
  border: 2px solid #1694ab;
  padding: 0.25rem 1rem;
  border-radius: 2rem;
}

.result-page .result-bar {
  position: relative;
  max-width: 35rem;
  width: 100%;
  height: 4rem;
  background-image: linear-gradient(to right bottom, #eddc7c, #d2b40c);
  /* background-image: linear-gradient(to right bottom, #cfc067, #dbbd15); */
  /* background-color: #ddca5c; */
  margin: 2rem 0 1.5rem;
}

.result-bar span {
  position: absolute;
  font-size: 0.75rem;
  color: #fff;
  width: max-content;
  font-family: monospace;
  padding: 3px 10px;
  border-radius: 3px;
}
.result-bar .correct {
  top: -1.5rem;
  left: 0;
  background-image: linear-gradient(to right bottom, #54fa5a, #35BD3A);
  /* background-color: #35BD3A; */
}
.result-bar .incorrect {
  bottom: -1.5rem;
  background-image: linear-gradient(to right top, #f16f6f, #d30f0f);
  /* background-color: #fb5858; */
  left: 78%;
}
.result-bar .unattempted {
  top: -1.5rem;
  right:0;
  background-image: linear-gradient(to left bottom, #eddc7c, #d2b40c);
  /* background-color: #ddca5c; */
  color: #fff;
}

.result-bar .incorrect-bar {
  position: relative;
  background-image: linear-gradient(to right top, #f16f6f, #d71919);
  /* background-color: #fb5858; */
  height: 100%;
  max-width: 100%;
  animation: progress-anime 1.5s linear forwards;
}

.result-bar .correct-bar{
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, #54fa5a, #35BD3A);
  height: 100%;
  max-width: 100%;
  /* width: 100%; */
  z-index: 5;
  animation: progress-anime 2s linear forwards;

}

@keyframes progress-anime {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}


/*? progress-bar styling */
.progress-bar {
  max-width: 35rem;
  width: 100%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.correct-progress-bar,
.incorrect-progress-bar,
.pi-chart {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px -1px #00000033,
  -4px -4px 6px -1px #0000001a;
  display: grid;
  place-content: center;
}

.pi-chart {
  background-image: conic-gradient(#13d32f 220deg, #e61010 220deg 310deg, #daa520 310deg);
}
.pi-chart .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  list-style: none;
  gap: 3px;
  overflow: hidden;
  inset: 30px;
  border-radius: 50%;
  background-color: #fff;
  padding: 0.25rem;
  font-size: 10px;
  scale: 0;
  transition: scale 0.35s cubic-bezier(0.12, 0.09, 0.92, 1.55);
}
.pi-chart:hover > .details {
  scale: 1;
}
.pi-chart .details li {
  width: max-content;
  color: #fff;
  /* margin: 3px auto; */
  padding: 0 5px;
}
.pi-chart .details li:first-child {
  background-color: #4698fc;
}
.pi-chart .details li:nth-child(2) {
  background-color: #13d32f;
}
.pi-chart .details li:nth-child(3) {
  background-color: #e61010;
}
.pi-chart .details li:last-child {
  background-color: #daa520;
}

.correct-progress-bar::after ,
.incorrect-progress-bar::after {
  position: absolute;
  inset: 20px;
  border-radius: 50%;
  font-size: 1.1rem;
  font-weight: 800;
  padding: 1rem;
  text-align: center;
  display: grid;
  place-content: center;
  box-shadow: inset 5px 5px 10px -1px rgba(0, 0, 0, 0.2),
  inset -4px -4px 6px -1px rgba(0, 0, 0, 0.1);
  z-index: 2;
  user-select: none;
}
 
.correct-progress-bar::after {
  content: var(--correct-after-content);
  color: #13d32f;
}

.incorrect-progress-bar::after {
  content: var(--incorrect-after-content);
  color: #e61010;
}


.correct-progress-bar .correct-svg,
.incorrect-progress-bar .incorrect-svg {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.correct-progress-bar .correct-svg circle,
.incorrect-progress-bar .incorrect-svg circle {
  fill: none;
  stroke-width: 20px;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  z-index: 5;
}

.correct-progress-bar .correct-svg circle {
  stroke: url(#CorrectGrad);
  animation: correct-anim 1s linear forwards;
}

@keyframes correct-anim {
  to {
    stroke-dashoffset: var(--correct-dash-off);
  }
}


.incorrect-progress-bar .incorrect-svg circle {
  stroke: url(#IncorrectGrad);
  animation: incorrect-anim 1s linear forwards;
}


@keyframes incorrect-anim {
  to {
    stroke-dashoffset: var(--incorrect-dash-off);
  }
}



.result-stats-container.open {
  /* background-color: #b9c2ee6e; */
  height: 380px;
}
.result-stats-container {
  max-width: 500px;
  width: 100%;
  margin: 2rem 0;
  height: 76px;
  overflow: hidden;
  /* border: 1px double #333; */
  padding: 1rem ;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 0 5px 2px #4775d8;
  transition: height 0.5s ease;
}

.result-stats-container h4 {
  cursor: pointer;
  width: 100%;
  max-width: 460px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 700;
}
.result-stats-container h4 span {
  display: inline-block;
  /* margin-right: 5%; */
  font-size: 1.5rem;
  font-weight: 800;
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}
.result-stats-container.open h4 span {
  transform: rotate(-90deg);
}



ul.result-stats {
  position: relative;
  list-style: none;
  padding: 3.5rem 1rem 1.5rem;
  width: 100%;
  border-radius: 1rem;
}

ul.result-stats::before {
  content: "Result Statistic:";
  position: absolute;
  top: 1rem;
  left: 2.5rem;
  color: #08088f;
  background-color: #92ef64;
  font-size: 1.1rem;
  padding: 5px 10px;
  border-radius: 5px;
}

ul.result-stats::after {
  content: "";
  position: absolute;
  inset: 0;
  /* background-color: var(--result-page-bg-clr); */
  background-color: #c8d4d6;
  border-radius: 0.7rem;
  z-index: 5;
  /* animation: opening 1s ease-out reverse; */
}
.result-stats-container.open ul.result-stats::after {
  animation: opening 1s ease-out forwards;
  animation-delay: 0.6s;
}

@keyframes opening {
  0% {
    inset: 0;
  }
  100% {
    inset: 0 0 0 100%;
  }
}




ul.result-stats li {
  padding: 0.25rem 1rem;
  font-size: 1.1rem;
}

.feedback-wrapper {
  margin: 2rem 0;
}
.feedback-wrapper .feedback-message {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  background-color: lightskyblue;
  text-align: center;
}
.result-page .buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.result-page .buttons button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.result-page .buttons button:hover {
  scale: 0.95;
}

.result-page .retry-btn {
  /* background-color: goldenrod;  */
  background-image: linear-gradient(to right bottom, #e4c36d, #daa520);
}
.result-page .go-to-home-btn {
  background-image: linear-gradient(to left top, #9f98d7, #5f07b1);
  /* background-color: #8a2be2; */
}

.result-page .back-btn {
  background-image: linear-gradient(to left top, #88878f, #0f0a27);
  /* background-color: #0f0a27; */
}



/*? styling 'celebration' */
.celebration {
  max-width: 1324px;
  margin: 0 auto;
  width: 95%;
  position: fixed;
  top: -100px;
  left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  pointer-events: none;
  z-index: 105;
}

.celebration .particle {
  width: 30px;
  height: 30px;
  clip-path: polygon(23% 26%, 64% 12%, 58% 93%, 10% 100%);
  background-color: #fa1c79;
  animation: celebrate 1 ease-out forwards;
  animation-duration: calc(120s/var(--particle));

}

.celebration .particle:nth-child(2n) {
  background-color: #5ce79d;
  clip-path: polygon(69% 77%, 86% 30%, 100% 100%, 21% 100%);
}
.celebration .particle:nth-child(3n) {
  background-color: #fae01c;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 73% 58%, 87% 100%, 50% 74%, 12% 100%, 30% 57%, 2% 35%, 39% 35%);
}
.celebration .particle:nth-child(4n) {
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  background-color: #f31cfa;
}
.celebration .particle:nth-child(5n) {
  clip-path: polygon(25% 0%, 75% 0%, 62% 60%, 75% 100%, 25% 100%, 13% 44%);
  background-color: #4698fc;
}

@keyframes celebrate {
  0% {
    transform: translate(0, -10vh) rotate(0deg);
  }
  95% {
    transform: translate(0, 130vh) rotate(360deg);
  }
  100%{
    transform: translate(0, 130vh) rotate(360deg);
  }
}



.result-page footer {
  padding: 0.5rem 0;
  background-color: #79d6fe49;
  box-shadow: inset 0 0 5px #e8e8e8, 0 0 100px#c6e1f5;
  border-radius: 5px;
  width: min(60%, 500px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.result-page footer h3 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #535353;
  margin-bottom: 0.5rem;
}

.result-page footer .social-medias {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.social-medias a {
  text-decoration: none;
  margin: 0 0.25rem;
}
.social-medias img{
  max-width: 1.5rem;
}




@media screen and (max-width:768px) {
  .result-header img {
    left: -9rem;
    max-width: 7rem;
  }

  .result-bar .incorrect {
    left: 70%;
  }
}

@media screen and (max-width:500px) {
  .result-page {
    padding: 1.5rem 1rem;
  }

  .result-header img {
    display: none;
  }

  .result-header .subject-result {
    font-size: 1.25rem;
    /* font-weight: 700; */
  }

  .result-header .level-result {
    font-size: 14px;
    padding: 0.2rem 0.7rem;
    border-width: 1px;
  }

  .result-bar span {
    padding: 3px 5px;
  }

  .result-bar .incorrect {
    left: 60%;
  }
  

  .result-stats-container h4 {
    font-size: 1rem;
    padding: 0;
  }

  ul.result-stats {
    padding: 3.5rem 0.2rem 0.5rem;
  }
  
  ul.result-stats li {
    padding: 0.25rem;
    font-size: 1rem;
  }
  ul.result-stats::before {
    left: 0.25rem;
  }
  
  

  .feedback-wrapper {
    margin: 0;
  }
  .feedback-wrapper .feedback-message {
    font-size: 1rem;
    margin: 1.2rem;
  }

  .result-page .buttons button {
    font-size: 14px;
    padding: 0.25rem 0.5rem;
  }

  .result-page footer {
    margin: 2rem 0 0;
  }

  .result-page footer h3 {
    font-size: 1rem;
  }
  .social-medias img {
    max-width: 1.25rem;
  }
}