* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: "Poppins", sans-serif;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  --bg-clr: #f1f1f1;
}


/*? overlay element styling */
.overlay.open{
  display: block;
}
.overlay {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  inset: 0;
  background-color: #2ca5eb29;
  z-index: 101;
  backdrop-filter: blur(5px);
}

.overlay .loading {
  margin: 9rem auto 0;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 10px solid #50d16e;
  border-top-color: #eb2c4c;
  border-left-color: #dbeb2c;
  border-bottom-color: #eb2cd812;
  animation: loading-anim 2s infinite ease-in-out;
}

@keyframes loading-anim {
  to{
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}


/*? instruction element styling  */
.notification-container {
  display: none;
  position: fixed;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #3a383a9b;
  box-shadow: 1px 1px 5px #008026, inset 0 0 10px 3px #6795f8;
  background-color: #fff;
  border-radius: 5px;
  z-index: 105;
  overflow-x: hidden;
  max-width: max-content;
  transition: top 1s ease-in-out;
}

.notification-container .notification-content {
  position: relative;
  padding: 0.5rem 3.5rem 0.5rem 1rem;
  width: max-content;
  max-width: 700px;
} 
.notification-content  p.notification { 
  font-size: 1.2rem;
  font-weight: 500;
  color: #0c0654;
}
.notification-content .notification-close-btn {
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: 600;
  color: #936565;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 1px 5px 0;
  border: 1px solid #936565;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px #800080, inset 0 0 15px 2px lightcyan;
}
.notification-content .notification-close-btn:hover {
  transform: scale(0.95);
}
.notification-container.open {
  display: block;
  top: 5rem;
  animation: notification-anime 28s ease-in-out forwards;
}


@keyframes notification-anime {
  0% {
    width: 0%;
  }
  10%, 35% {
    top: 5rem;
    width: 100%;
  }
  45% {
    display: none;
    top: 5rem;
    width: 0%;
  }
  55%, 100% {
    display: none;
    top: 90%;
    width: 0%;
  }
  65%, 90% {
    display: block;
    top: 90%;
    width: 100%;
  }
}


/*? homepage styling */
.homepage.inactive {
  display: none;
}
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  background-color: var(--homepage-bg-clr);
  padding: 3rem 1rem;
  min-height: 100dvh;
  max-width: 1324px;
  font-weight: 600;
  --header-bg-clr: lightseagreen;
  --sub-menu1-bg-clr: #3fd3d3;
  --sub-menu2-bg-clr: #c0fffa;
  --hover-bg-clr: #c0fffa;
  --hover-bg2-clr: #575757;
  --homepage-bg-clr: #50577f;
}

.homepage header {
  background-color: var(--header-bg-clr);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  position: fixed;
  inset: 0 0 auto 0;
  margin: auto;
  height: 4.5rem;
  width: 100%;
  max-width: 1324px;
  z-index: 100;
}

.homepage header img {
  height: 3.5rem;
  border-radius: 1rem;
}

.homepage header .humberger-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  row-gap: 8px;
  padding: 0 1rem;
  height: 4.5rem;
  width: 5rem;
  border-bottom-left-radius: 100%;
  cursor: pointer;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.homepage header .humberger-menu.close {
  background-color: inherit;
  row-gap: 0;
}
.homepage header .humberger-menu.close:hover {
  transform: scale(0.9);
}

.homepage header .humberger-menu span {
  display: inline-block;
  width: 2.25rem;
  height: 3px;
  border-radius: 4px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.homepage header .humberger-menu span:first-child {
  width: 2rem;
}
.homepage header .humberger-menu span:nth-child(2) {
  width: 1.5rem;
}

.homepage header .humberger-menu.close span:first-child {
  width: 1.5rem;
  transform: rotate(45deg) translate(5%, 100%);
}

.homepage header .humberger-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-5%, -100%); 
}

.homepage header .humberger-menu.close span:last-child {
  display: none;
}




.homepage header ul {
  list-style: none;
}

.homepage header .menu-bar li .right-arrow-icon {
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  left: 0;
  width: 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -5%;
  transform: rotate(-90deg);
  transition: transform 0.35s ease-in-out;
}

.homepage header .menu-bar {
  display: flex;
}

.homepage header .menu-bar li {
  position: relative;
}
.homepage header .menu-bar li a {
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}


.homepage header .menu-bar li  ul {
  display: none;
  position: absolute;
  width: max-content;
  min-width: 10rem;
  font-size: 1rem;
  background-color: var(--header-bg-clr);
}

.homepage header .menu-bar > li ul li:hover > span.right-arrow-icon,
.homepage header .menu-bar > li ul li:focus > span.right-arrow-icon {
  transform: rotate(0deg);
}

.homepage header .menu-bar li ul li a {
  padding: 0.5rem 0.5rem 0.5rem 2rem;
}

.homepage header .menu-bar > li > ul {
  padding: 1rem 0 0;
  top: 100%;
  right: 0%;
}

.homepage header .menu-bar li:hover > ul {
  display: block;
}

.homepage header .menu-bar li .sub-menu1 li ul {
  top: 10%;
  right: 100.5%;
}

.menu-bar li:hover {
  background-color: var(--hover-bg-clr);
}

.homepage header .menu-bar a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.homepage header .menu-bar a:hover,
.homepage header .menu-bar a:focus {
  background-color: var(--hover-bg-clr);
}

/*? homepage main content */
.homepage .heading-test {
  margin-top: 5.5rem;
  color: #f2f2f2;
  font-size: 3.25rem;
  line-height: 0.8em;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent 30%, #f2f2f2c8);
  animation: blink-text 5s 3 linear forwards;
}

@keyframes blink-text {
  0%, 20%, 30%, 32%, 35%, 40%, 60%, 70%, 80% {
    color: #b6c5cff2;
    text-shadow: none;
  }
  0.5%, 20.1%, 30.1%, 32.01%, 35.2%, 40.5%, 60.5%, 70.1%, 80.5%, 100% {
    color: #ffffff;
    text-shadow: 0 0 10px #12fafa,
    0 0 20px #00ffff,
    0 0 40px #00ffff,
    0 0 80px #00ffff,
    0 0 160px #00ffff;
  }
}


.homepage .sub-heading-test {
  color: #e5eb78;
  text-align: center;
  margin: 1.5rem 0;
}

/*? homepage flipcard */
.flipcard {
  margin: 2rem auto 0;
  width: 420px;
  height: 560px;
  border-radius: 1rem;
  border: 2px solid lightgray;
  position: relative;
  transition: transform 1s;
  cursor: pointer;
  transform-style: preserve-3d;
}
.flipcard.flip {
  transform: perspective(500px) rotateY(180deg);
}

.flipcard .flip-the-card {
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.25rem 1rem;
  background-color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  border-radius: 5px;
  /* box-shadow: 0 0 2px #787; */
  border: 1px solid #fff;
  z-index: 11;
  transition: transform 1s;
}
.flipcard .flip-the-card:hover {
  background-color: var(--homepage-bg-clr);
  color: #fff;
}
.flipcard.flip .flip-the-card {
  transform: translate(-50%, -50%) rotateY(-180deg);
}


@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.flipcard::after,
.flipcard::before {
  content: "";
  position: absolute;
  inset: -5px;
  background-image: linear-gradient(var(--angle), #00ccff, var(--homepage-bg-clr), var(--homepage-bg-clr), #f0f);
  border-radius: 1.2rem;
  z-index: -1;
  padding: 2px;
  animation: spin-border 10s linear infinite;
  animation-play-state: running;
}
.flipcard::before {
  filter: blur(1.5rem);
}

@keyframes spin-border {
  to{
    --angle : 360deg
  }
}

.flipcard:hover::after,
.flipcard:hover::before {
  animation-play-state: paused;
}



.flipcard .front,
.flipcard .back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  backface-visibility: hidden;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flipcard .front h2 {
  font-size: 1.2rem;
  width: 100%;
  box-shadow: inset 0 0 25px 5px #e21eda, 0 0 15px 1px #73c1bc;
  text-shadow:  -1px -1px 3px #9ed752;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto 0.5rem;
  padding: 0.75rem;
}

.flipcard .front img {
  width: 100%;
  object-fit: contain;
}
.flipcard .front {
  /* overflow: hidden; */
  justify-content: space-around;
  padding: 1rem;
}

.flipcard .back h3 {
  margin-top: 0.5rem;
}
  
.flipcard .back {
  transform: rotateY(180deg);
  overflow-y: auto;
  padding: 1rem;
  scrollbar-color: #e91f92 #f1f1f1;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
}
.flipcard .back::-webkit-scrollbar {
 width: thin;
}
.flipcard .back::-webkit-scrollbar-track {
  background: #2c5763;
}
.flipcard .back::-webkit-scrollbar-thumb {
  background: #e91f92;
  border-radius: 5px;
}
.flipcard .back::-webkit-scrollbar-thumb:hover {
  background: #67e3bc;
}
  
.flipcard .back ol {
  padding: 0.5rem 0 0 1rem;
}
.flipcard .back ol > li {
  margin: 10px 0;
}
.flipcard .back ol ul{
  /* text-indent: 1rem; */
  padding-left: 0.5rem;
  font-size: 14px;
  font-weight: 500;
}
.flipcard .back ol ul li {
  margin: 5px 0;
}




/*? homepage corousel */
.homepage .slider {
  display: flex;
  width: 80%;
  overflow: hidden;
  margin: 2rem auto;
  background-color: #008026;
  border: 5px solid #cc2478;
  height: 10rem;
}
.homepage .slider .slide {
  height: 10rem;
  width: 100%;
  flex-shrink: 0;
  background-color: #fdfdfd;
  line-height:10rem;
  text-align: center;
  /* animation: sliding 36s infinite ease-out; */
  /* animation: sliding 12s infinite steps(1); */
  transition: transform 1s;
}

@keyframes sliding {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(-200%);
  }
  60% {
    transform: translateX(-300%);
  }
  80% {
    transform: translateX(-400%);
  }
  /* 100% {
    transform: translateX(-500%);
  } */
}

/*? styling bubbles animation */

.bubbles-wrapper.inactive {
  display: none;
}
.bubbles-wrapper {
  max-width: 1324px;
  margin: 0 auto;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  bottom: 0;
  pointer-events: none;
  z-index: 99;
}

.bubbles-wrapper span {
  height: 1rem ;
  width: 1rem;
  border-radius: 50%;
  box-shadow: inset 0 0 5px darkcyan, 
  0 0 5px 2px darkcyan, 
  0 0 25px #008b8bb8,
  0 0 50px #008b8bb8, 0 0 10px 5px white;
  animation: bubble-anime 2 linear forwards;
  animation-duration: calc(120s/var(--bubble));
}

.bubbles-wrapper span:nth-child(even) {
  box-shadow: inset 0 0 5px #f00b8d, 
  0 0 5px 2px #f00b8d, 
  0 0 25px #f00b8d,
  0 0 50px #f00b8d, 0 0 10px 5px white;
}
.bubbles-wrapper span:nth-child(3n) {
  box-shadow: inset 0 0 5px #d5f00b, 
  0 0 5px 2px #d5f00b, 
  0 0 25px #d5f00b,
  0 0 50px #d5f00b, 0 0 10px 5px white;
}

@keyframes bubble-anime {
  0% {
    transform: translateY(10vh) scale(0.2);
  }
  100% {
    transform: translateY(-110vh) scale(1) ;
  }
}




/*? Media Queries */
@media screen and (max-width:1024px) {
  .homepage header {
    font-size: 1rem;
  }
}


@media screen and (max-width:768px) {
  .homepage {
    min-height: 100dvh;
  }
  .homepage header {
    padding: 0 0.25rem 0 1rem;
  }
  .homepage header .humberger-menu {
    display: flex;
  }
 .homepage header nav.nav-box {
    background-color: #20b2ab;
    min-height: 0;
    height: 0%;
    width: 250px;
    position: absolute;
    right: 0;
    top: 4.5rem;
    overflow-y: hidden;
    transition: height 0.7s ease-in-out, min-height 0.7s ease-in-out;
  }

 .homepage header nav.nav-box.open {
    min-height: 100dvh;
    height: 100%;
    overflow: unset;
 }

 .homepage header ul.menu-bar {
    flex-direction: column;
    background-color: #20b2ab;
  }

 
 .homepage header .menu-bar > li  ul {
    border: 1px solid var(--hover-bg-clr);
 }
 .homepage header .menu-bar > li > ul {
    padding: 0.75rem 0 0;
    top: 0;
    right: 100%;
  }
 .homepage header .menu-bar > li:last-child > ul {
    padding: 0;
    top: 100%;
    left: -15%;
  }

  .homepage header .menu-bar li ul li ul {
    position: relative;
    left: -10%;
    z-index: 5;
  }

  .homepage header .menu-bar li .right-arrow-icon {
    top: 0;
    height: 2rem;
  }

  .homepage .heading-test {
    margin-top: 6.5rem;
    letter-spacing: 2.75px;
    font-size: 2.5rem;
  }
  .homepage .sub-heading-test {
    font-size: 1.2rem;
  }

}


@media screen and (max-width:640px) {
  .homepage {
    padding: 3rem 0.5rem;
  }
  .homepage .heading-test {
    letter-spacing: 2px;
    font-size: 2rem;
  }
}


@media screen and (max-width:500px) {
  .notification-container .notification-content {
    max-width: 425px;
  }
  .notification-content  p.notification { 
    font-size: 1rem;
  }
  
  .homepage header {
    height: 3.5rem;
  }
  
  .homepage header img {
    height: 3rem;
    /* border-radius: 0.7flipcardrem; */
  }
  
  .homepage header a {
    font-size: 14px;
  }

  .homepage header .humberger-menu {
    transform: scale(0.7);
    height: 3.5rem;
  }
  
  .homepage header nav.nav-box {
    top: 3.5rem;
    width: 150px;
  }
  
  .homepage .heading-test {
    font-size: 1.75rem;
  }
  /* .homepage .sub-heading-test {
    font-size: 1.2rem;
  } */

  .flipcard {
    width: 350px;
    height: 460px;
  }

  .flipcard .front h2 {
    font-size: 1.1rem;
  }
    
}

@media screen and (max-width:425px) {
  .notification-container .notification-content {
    max-width: 370px;
  }

   .homepage .heading-test {
    font-size: 1.5rem;
  }
}

@media screen and (max-width:375px) {
  .notification-container .notification-content {
    max-width: 315px;
  }

  .homepage .heading-test {
    font-size: 1.1rem;
  }

  .homepage .sub-heading-test {
    font-size: 1rem;
    font-weight: 600;
  }

  .flipcard {
    width: 300px;
  }
  
}

@media screen and (max-width:320px) {
  .homepage header nav.nav-box {
    width: 130px;
  }

  .homepage .heading-test {
    font-size: 1rem;
  }

  .homepage .sub-heading-test {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .flipcard .front h2 {
    font-size: 14px;
  }
}